@{
    var controllerN = ViewContext.RouteData.Values["controller"]?.ToString().ToLower() ?? string.Empty;
    var area = ViewContext.RouteData.Values["area"]?.ToString()?.ToLower() ?? string.Empty;
}
<div class="navbar-nav">
    <a class="badge badge-light" asp-controller="home">25350088</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link @(controllerN == "home" ? "active" : "")" asp-controller="home" asp-action="Index">Лб 1</a>
        <a class="nav-item nav-link @(controllerN == "Cup" ? "active" : "")" asp-controller="Cup" asp-action="Index">Каталог</a>
        <a class="nav-item nav-link @(area=="admin"?"active":"")" asp-area="Admin" asp-page="/Index">Администрирование</a>
    </div>
</div>

